.sp{
    padding-left:100px;
    padding-right:100px;
}
body{
    background-color:lightgray;
    margin:0;
}

header{
    width:1150px;
    height:105px;
    background-color:yellow;
    margin:0 auto;
}

header p{
    color:green;
    font-weight:bold;
    font-size:40px;
    float:left;
    margin-left:30px;
    margin-top:20px;
}

nav{
    width:100%;
    height:40px;
    background-color:lightgray;
    margin-bottom:10px;
}

.topnav{
    width:1150px;
    position:relative;
    height:40px;
    background-color:green;
    list-style:none;
    padding:0px;
    margin:0 auto;
}

.topnav li{
    float:left;
    height:40px;
    padding:0px;

}

.topnav li a{
    padding:10px 30px;
    display:block;
    color:white;
    text-decoration:none;
    font-size:20px;
    
}

.topnav li:hover{
    background-color:#333;
}

.topnav li div.subsp {
    position: absolute;
    top: 42px;background:#FFF;
    padding:50px;
    display: none;
    font-weight:bold;
    z-index:1000;
}

.topnav li:hover div.subsp {
    display: block;
    width:400px;
    left: 50px;
    box-shadow: 3px 3px 3px #666;	                        
    -moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    opacity:0.8;
}

.topnav li div.subsp p {
    margin-bottom:5px;
    text-align:justify;
}

.topnav li div.subsp h3{
    color:#F06; 
    font-size:20px;
    font-weight:bolder;
}

.topnav li div.subsp div.cs21 {
    float: left; 
    width:140px;
}

.topnav li div.subsp div.cs21 a{
    display:block; 
    margin:0;
    padding:0 0 5px;
    color:#333;
}

.topnav li div.subsp div.cs21 a:hover{
    color:#F06;
}

#nav_social{
    float:left;
    width:140px;
    margin-top:20px;
    margin-left:450px;
}

div#search-top form{
    width:160px;
    float:left;
    background:#666;
    color:#fff;
    padding:3px 0 3px 0;
    margin-left:5px;
    margin-top:20px;
}

input#search-field{
    width:123px;
    height:24px;
    padding:0 6px 0 8px;
    float:left;
    background:#666;
    border:none;
    margin:0;
    color:#fff;
}
input#search-field:focus{
    color:#fff;
}

input#search-btn{
    width:18px;
    height:18px;
    float:left;
    margin:3px 0 0 0;
    padding:0 0px 0px 0;
    text-align:center;
    color:#555;
    cursor:pointer;
    border:none;
    background:url(../banner/search-btn.png) no-repeat center;
}
article{
    width:100%;
    height:800px;
    
    margin:0 auto;
    margin-top:10px; 
}

.contentlienhe{
    width:1150px;
    height:500px;
    margin:0 auto;
    background-color:lightblue;
}
.contentlienhe .left, .contentlienhe .right{
    width:40%;
    height:500px;
    float:left;

}

.contentlienhe .noidungform{
    width:320px;
    margin:0 auto;
}

.contentlienhe .left h2{
    color:red;
    text-align:center;
}

.contentlienhe .textlabel{
    width:100px;
    display:inline-block;
}

.contentlienhe .fields{
    width:300px;
    margin:5px;
}


.contentlienhe .standardSelect{
    width:184px;
}

.contentlienhe .left .button{
    width:141px;
    padding:5px;
}

.contentlienhe .right iframe{
    margin:10px auto;
    display:block;
}

footer{
    width:1150px;
    height:150px;
    background-color:green;
    margin:-10px auto;
    clear:both;
}
footer ul{
    margin-top:10px;
    list-style:square;
}
footer ul li{
    color:white;
    font-size:18px;
    font-weight:bold;
    line-height:30px;
}
